.multimediaContainer{
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/about-bg.jpg);
    background-image: linear-gradient(rgba(55, 177, 55, 0.9), rgba(30, 136, 30, 0.9)), url('../../assets/about-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.multimediaInfo{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: thin solid #f00; */
}

.video{
    width: 550px;
    height: 400px;
    border: none;
    /* box-shadow: 0 15px 15px rgb(0,0,0,0.3); */
    box-shadow: 20px 20px 60px #02330d,
    -20px -20px 60px #79ff79;;
}

.videoMultimedia, .videoDescripcion{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* border: thin solid #f00; */
}

.videoDescripcion h1{
    font-size: 2.8em;
    margin-bottom: 20px;
}

.videoDescripcion p{
    width: 92%;
    margin-bottom: 25px;
}

.videoDescripcion a{
    width: 120px;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    color: rgb(26, 172, 26);
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.videoDescripcion a:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgb(0,0,0,0.3);
}

