.contactoContainer{
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.contactoForm{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: thin solid #f00; */
}

.contactoForm h3{
    font-size: 1.8rem;
    font-weight: 400;   
    font-style: italic;
    color: rgb(21, 212, 21);
}

.contactoForm h1{
    font-size: 2rem;
    font-weight: bold;   
    /* border: thin solid #f00; */
}

.Form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* border: thin solid #f00; */
}

.Letrero{
    width: 150px;
    height: 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: 1.3rem;
    font-weight: bold;
    /* border: thin solid #f00; */
}

.Caja{
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    float: left;
    /* border: thin solid #f00; */
}


.Caja:focus{
    outline: none;
    border: none;
    box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.2);
}

textarea{
    width: 500px;
    height: 150px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    /* border: thin solid #f00; */
}

textarea:focus{
    outline: none;
    border: none;
    box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.2);
}

.btnSend{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(21, 212, 21);
    color: #fff;
    font-size: 1rem;
    margin-left: 570px;
    margin-top: 10px;
    transition: 0.5s all;
}

.btnSend:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(26, 172, 26);
}