*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Maven Pro', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
  /* font-weight: bold; */
  transition: all 0.5s;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
